
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: idea, local: true) do |form| %>
      <% if idea.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(idea.errors.count, "error") %> prohibited this idea from being saved: </h2>
          <ul class="govuk-list">
          <% idea.errors.full_messages.each do |message| %>
            <li><%= message %></li>
      <% end %>
          </ul>
        </div>
    <% end %>
    <div class="govuk-form-group" id="area-of-intrest">
        <%= form.label :area_of_interest, class: "govuk-label" %>
        <%= form.select :area_of_interest,  enum_to_select(Idea.area_of_interests), { include_blank: 'Please select' }, { class: "govuk-select" } %>
    </div>
    <div class="govuk-form-group" id="business-area" >
      <%= form.label :business_area, class: "govuk-label" %>
      <%= form.select :business_area, enum_to_select(Idea.business_areas), { include_blank: 'Please select' }, { class: "govuk-select" } %>
    </div>
    <div class="govuk-form-group" id="it-system">
      <%= form.label :it_system, class: "govuk-label" %>
      <%= form.select :it_system, enum_to_select(Idea.it_systems), { include_blank: 'Please select' }, { class: "govuk-select" } %>
    </div>
    <div class="govuk-form-group">
      <%= form.label :title, class: "govuk-label" %>
      <%= form.text_field :title, class: "govuk-input govuk-!-width-two-thirds form-control" %>
    </div>
    <div class="govuk-form-group">
      <%= form.label :idea, class: "govuk-label" %>
      <%= form.text_area :idea, class: "govuk-textarea" %>
    </div>
    <div class="govuk-form-group">
      <%= form.label :benefits, class: "govuk-label" %>
          <span class="govuk-hint">Select all that apply.</span>
          <div class="govuk-checkboxes">
            <% Benefit.benefits.keys.each do |benefit| %>
              <div class="govuk-checkboxes__item">
                <%= form.check_box :benefit_list, { multiple: true, checked: idea.benefit?(benefit), class: "govuk-checkboxes__input" }, benefit, nil %>
                <%= form.label t(benefit), class: "govuk-label govuk-checkboxes__label" %>
              </div>
            <% end %>
          </div>
    </div>
    <div class="govuk-form-group">
      <%= form.label :impact, class: "govuk-label" %>
      <%= form.text_area :impact, class: "govuk-input govuk-!-width-two-thirds form-control" %>
    </div>
    <div class="govuk-form-group">
      <%= form.label :involvement, class: "govuk-label" %>
      <%= form.select :involvement, enum_to_select(Idea.involvements), { include_blank: 'Please select' }, { class: "govuk-select" } %>
    </div>
    <% if current_user.admin? %>
      <div class="govuk-form-group">
        <%= form.label :assigned_user_id, class: "govuk-label" %>
        <%= form.collection_select(:assigned_user_id, User.all.where(admin: true), :id, :email, {include_blank: 'Please select' }, { class: "govuk-select" }) %>
      </div>
      <div class="govuk-form-group">
          <%= form.label :review_date, class: "govuk-label" %>
          <span id="review-date-hint" class="govuk-hint">
            For example, 31 3 2019
          </span>
          <div class="govuk-date-input" id="review-date">
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="review-day">
                          Day
                      </label>
                      <%= form.text_field :review_day, class: "govuk-input govuk-date-input__input govuk-input--width-2", type: "number", pattern: "[0-9]*" %>
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="review-month">
                        Month
                      </label>
                      <%= form.text_field :review_month, class: "govuk-input govuk-date-input__input govuk-input--width-2", type: "number", pattern: "[0-9]*" %>
                  </div>
                </div>
                <div class="govuk-date-input__item">
                    <div class="govuk-form-group">
                      <label class="govuk-label govuk-date-input__label" for="review-year">
                          Year
                      </label>
                      <%= form.text_field :review_year, class: "govuk-input govuk-date-input__input govuk-input--width-4", type: "number", pattern: "[0-9]*" %>
                  </div>
                </div>
            </div>
        </fieldset>
      </div>
      <div class="govuk-form-group">
        <%= form.label :status, class: "govuk-label" %>
        <%= form.select :status, enum_to_select(Idea.statuses), { include_blank: 'Please select' }, { class: "govuk-select" } %>
      </div>
    <% end %>
    <% if idea.new_record? %>
      <%= form.submit "Create Idea", class: "govuk-button" %>
    <% else %>
      <%= form.submit "Update Idea", class: "govuk-button" %>
    <% end %>
    <% end %>
  </div>
</div>

