<% title "Idea" %>
<table class="govuk-table">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Author:</th>
    <td class="govuk-table__cell"><%= @idea.user.email %></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Area of Interest:</th>
    <td class="govuk-table__cell"><%= t(@idea.area_of_interest) %></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Business Area:</th>
    <td class="govuk-table__cell"><%= t(@idea.business_area) %></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">IT System:</th>
    <td class="govuk-table__cell"><%= t(@idea.it_system) %></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Title:</th>
    <td class="govuk-table__cell"><%= @idea.title %></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Idea:</th>
    <td class="govuk-table__cell"><%= @idea.idea %></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Benefits:</th>
    <td class="govuk-table__cell">
      <% @idea.benefits.each do |benefit|%>
        <%= t(benefit.benefit) %><br/>
      <% end %>
    </td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Impact:</th>
    <td class="govuk-table__cell"><%= @idea.impact %></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Involvement: </th>
    <td class="govuk-table__cell"><%= t(@idea.involvement) %></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Submission Date:</th>
    <td class="govuk-table__cell"><%= @idea.submission_date&.strftime("%e %B %Y") %></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Assigned User:</th>
    <td class="govuk-table__cell"><%= @idea.assigned_user %></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Participation Level </th>
    <td class="govuk-table__cell"><%= @idea.participation_level%></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Status:</th>
    <td class="govuk-table__cell"><%= t(@idea.status)%></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Review Date:</th>
    <td class="govuk-table__cell"><%= @idea.review_date&.strftime("%e %B %Y") %></td>
  </tr>
</table>
<% if policy(@idea).update? %>
  <%= link_to 'Edit', edit_idea_path(@idea), class: "govuk-button" %>
<% end %>
  <div class="govuk-!-padding-bottom-5"></div>
<% if @idea.draft? %>
  <%= button_to 'Submit idea', idea_submit_path(@idea), class: "govuk-button" %>
<% end %>
<div id="votes" class="column-one-third">
  <% if @idea.approved_by_admin? %>
    <p class="govuk-body-l">Votes</p>
    <p class="govuk-body-l"><%= @idea.votes.count %></p>
    <div id="votebutton">
      <% if @idea.user_voted?(current_user) %>
        <%= button_to 'Remove Vote', idea_vote_path(@idea, @vote.id), method: :delete, class: "govuk-button" %>
      <% else %>
        <%= button_to 'Vote', idea_votes_path(@idea), class: "govuk-button" %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="govuk-!-padding-bottom-5"></div>
<% if CommentPolicy.new(current_user, @idea).new? %>
  <div class="govuk-!-padding-bottom-5"></div>
  <table class="govuk-table">
    <%= render 'comments/comment_list', comments: @idea.comments %>
  </table>
  <%= link_to 'Add Comment', new_idea_comment_path(@idea), class: "govuk-button" %>
<% end %>
<div class="govuk-!-padding-bottom-5"></div>
<%= link_to 'Back', ideas_path %>
