<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Comment</th>
      <th class="govuk-table__header">Author</th>
      <th class="govuk-table__header">Idea</th>
      <th class="govuk-table__header">Status at time of comment</th>
      <th class="govuk-table__header">Created at</th>
     <th  class="govuk-table__header" colspan="3"></th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% comments.each do |comment| %>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><%= comment.body %></td>
        <td class="govuk-table__cell"><%= comment.user_id %></td>
        <td class="govuk-table__cell"><%= comment.idea_id %></td>
        <td class="govuk-table__cell"><%= t(comment.status_at_comment_time) %></td>
        <td class="govuk-table__cell"><%= comment.created_at %></td>
        <td class="govuk-table__cell"><%= link_to 'Show', idea_comment_path(comment.idea, comment) %></td>
        <td class="govuk-table__cell"><%= link_to 'Edit', edit_idea_comment_path(comment.idea, comment) %></td>
        <td class="govuk-table__cell"><%= link_to 'Destroy', idea_comment_path(comment.idea, comment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
