<% title "Comment" %>

<table class="govuk-table">
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Comment:</th>
    <td class="govuk-table__cell"><%= @comment.body %></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">User ID:</th>
    <td class="govuk-table__cell"><%= @comment.user_id%></td>
  </tr>
  <tr class="govuk-table__row">
    <th class="govuk-table__header" scope="row">Status at comment time:</th>
    <td class="govuk-table__cell"><%= t(@comment.status_at_comment_time) %></td>
  </tr>
</table>
<%= link_to 'Edit', edit_idea_comment_path(@comment.idea, @comment) %> |
<%= link_to 'Back', idea_path(@comment.idea) %>
